@font-face {
  font-family: 'Uto';
  src: url('@/shared/assets/fonts/uto-light-BF641d13591ed83.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Uto';
  src: url('@/shared/assets/fonts/Fontspring-DEMO-uto-regular-BF641d1358d6d3e.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Uto';
  src: url('@/shared/assets/fonts/Fontspring-DEMO-uto-medium-BF641d135946306.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Uto';
  src: url('@/shared/assets/fonts/Fontspring-DEMO-uto-semibold-BF641d13592789d.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Uto';
  src: url('@/shared/assets/fonts/Fontspring-DEMO-uto-bold-BF641d1357e6351.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}