
$t10: #111;
$t9: #222;
$t8: #323232;
$t7: #777;
$r6: #999;
$t5: #bbb;
$r: #eee;
$white: #fff;

$black-bg: #111;
$grey-bg: #222;


$white-color:#fff;
$grey-color: #999;
$grey-alt-color: #777;
$error-color: #c00;

$dark: #653012;
$middle: #8f5334;
$light: #ad7955;


$font-family: "Uto", sans-serif;
$second-family: "Roboto", sans-serif;
$third-family: "Inter", sans-serif;
